h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    font-size: 50px;
}
.box{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-1{
    grid-row: span 5;
}
#box-11 , #box-12{
    grid-column: span 3;
}
#box-6 , #box-7 ,#box-9 , #box-10{
    background-color: chocolate;
}